* {
    color: black;
    padding: 0;
    margin: 0;
}

header {
    height: 60px;
    box-shadow: 0 0 2px rgba(0,0,0,.6);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.6);
    -moz-shadow: 0 0 2px rgba(0,0,0,.6);
}

form {
    margin-bottom: 60px;
}

nav {
    height: inherit;
    width: 1260px;
    margin: 0 auto;
}

header h3 {
    float: left;
    line-height: 18px;
    margin-left: 20px;
}

header a {
    color: black;
    text-decoration: none;
    font: 14px Tahoma;
    float: left;
    height: inherit;
    line-height: 56px;
    padding: 0 15px;
}

header a:hover {
    background: #abc;
    text-decoration: none;
}

main {
    width: 100%;
    padding: 60px;
}

.wrap {
    width: 1260px;
    margin: 0 auto;
    border-radius: 4px;
    background: rgba(140,140,140,.1);
    padding: 30px;
}

section {
    border-radius: 4px;
    background: rgba(140,140,140,.2);
    padding: 10px 15px;
    width: 922px;
    margin: 30px auto;
}

.message {
    background: #ccc;
    border-radius: 4px;
    width: 280px;
    padding: 10px 20px;
    position: relative;
}

.message i {
    width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid #ccc;
    position: absolute;
    bottom: -30px; left: 120px;
}

.postText {
    font-weight: bold;
    font-size: 150%;
}

.postTimeStamp{
    font-style: italic;
}

table {
    margin-top: 30px;
}

td {
    width: 40px;
}

td:first-child {
    width: 1240px;
}

.editPostButton {

}

.deletePostButton {

}

.savePostButton {

}

.deletePostImageButton{

}

.uploadPostImageInput {

}

.rankDay {
    display: none;
}

.rankWeek {
    display: none;
}

.rankMonth {
    display: none;
}

.rankYear {
    display: none;
}

.chooseButtonDay {

}

.chooseButtonWeek {

}

.chooseButtonMonth {

}

.chooseButtonYear {

}

.uploadImageForm {

}

.hideShowBlock {
    cursor: pointer;
    margin-bottom: 30px;
}

.selectHabit {

}