<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h3>Календарь привычек: </h3>
<form id="addHabit">
    <div class="form-group">
        <label>Название новой привычки: </label>
        <input type="text" size="30" name="addHabitName" class="form-control">
    </div>

    <div class="form-group">
        <input type="button" value="Добавить" class="btn btn-default">
    </div>
</form>

<form id="deleteHabit">
    <div class="form-group">
        <label>Привычка:</label>
        <select class="selectHabit form-control">
            {% for aH in activeHabits %}
                <option value="{{aH.id}}">{{aH.name}}</option>
            {%endfor%}
        </select>
    </div>

    <div class="form-group">
        <input type="button" value="Удалить" class="btn btn-default">
    </div>
</form>

<form id="addResult" method="post" action="/addResultHandler">
    <div class="form-group">
        <label>Дата:</label>
    </div>

    <div class="form-group">
        <input type="date" name="addResultDate" class="form-control">
    </div>

    <div class="form-group">
        <label>Привычка:</label>
        <select class="selectHabit form-control" name = "addResultHabitID">
            {% for aH in activeHabits %}
                <option value="{{aH.id}}">{{aH.name}}</option>
            {%endfor%}
        </select>
    </div>

    <div class="form-group">
        <label>Результат:</label>
        <select id="selectResult" class="form-control" name = "addResultResult">
            <option value="1">Сделал</option>
            <option value="0">Не сделал</option>
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-default">
    </div>
</form>

<form id="ShowResult" method="post" action="/showResultHandler">
    <div class="form-group">
        <label>Месяц:</label>
    </div>

    <div class="form-group">
        <select id="selectMonth" class="form-control" name = "showResultMonth">
            <option value="1">Январь</option>
            <option value="2">Февраль</option>
            <option value="3">Март</option>
            <option value="4">Апрель</option>
            <option value="5">Май</option>
            <option value="6">Июнь</option>
            <option value="7">Июль</option>
            <option value="8">Август</option>
            <option value="9">Сентябрь</option>
            <option value="10">Октябрь</option>
            <option value="11">Ноябрь</option>
            <option value="12">Декабрь</option>
        </select>
    </div>

    <div class="form-group">
        <label>Год:</label>
        <input type="text" class="form-control" name="showResultYear">
    </div>

    <div class="form-group">
        <input type="submit" value="Показать" class="btn btn-default">
    </div>
</form>

<table class="table table-bordered">
    <tr>
        <td></td>
        {% for i in range(0,cntDays) %}
            <td>{{i+1}}</td>
        {% endfor %}
    </tr>
    {% for h in resultsCalendarArray %}
        <tr>
            <td>{{h}}</td>
            {% for cur in resultsCalendarArray[h] %}
                <td {%if cur%} bgcolor="#45D111" {% endif %}>{{cur}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}