<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h3>Статистика привычек:</h3>


<form action="" method="post" name = "DeleteHabit">

    {{chooseForm.hidden_tag()}}
    <div class="form-group">
        <label>Выбрать привычку:</label>
        {{chooseForm.select(class='form-control')}}
    </div>

    <div class="form-group">
        <input type="submit" value="Выбрать" class="btn btn-default">
    </div>

</form>


{% if stats %}
<h1>{{stats['name']}}</h1>

<section>
    <h3>Привычка тренеруется <b>{{stats['totalDays']}}</b>
{% if 1<=(stats['totalDays'])%10 <=4 %}
дня.
{%else%}
дней.
{%endif%}</h3>
</section>

<section>
   <h3>Эффективность: {{stats['doneDays']/stats['totalDays']*100}}%</h3>
</section>

<section>
    <h3>Старт: <b>{{stats['firstDay'].strftime("%d. %B %Y")}}</b></h3>
</section>

<section>
    <h3>Последний раз тренировалась: <b>{{stats['lastDay'].strftime("%d. %B %Y")}}</b></h3>
</section>


{% elif message%}
<h3>Эта привычка еще не тренировалась</h3>

{% endif %}



{% endblock %}