<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<form action="" method="post" name="login" enctype="multipart/form-data">
    <fieldset>
        <legend>Заметки</legend>
        <div class="form-group">
            <label>Новая заметка:<br></label>
                {{form.text(class='form-control')}}
        </div>

        <div class="form-group">
            <input type="file" name="file">
        </div>

        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-primary">
        </div>

        {{form.hidden_tag()}}

    </fieldset>
</form>


{% for post in posts %}
    <section>
        <div class="postText">
            {{ post.text }}
        </div>
        {% if post.imagePath %}
            <img src="{{ url_for('static', filename='notesImages/'+post.imagePath) }}", width='890') />
        {% endif %}
        <div class="postTimeStamp">
            ( {{post.timestamp.strftime("%A, %d. %B %Y %I:%M%p")}} )
        </div>
        <button class="editPostButton btn btn-default">Редактировть</button>
        <button class="savePostButton btn btn-default" style="display: none;">Сохранить</button>
        <form class="uploadImageForm" enctype="multipart/form-data" style="display: none;">
            <input type="file" name="file" class="uploadPostImageInput">
        </form>
        <button class="deletePostImageButton btn btn-default" style="display: none;">Удалить картинку</button>

        <button class="deletePostButton  btn btn-default">Удалить</button>
    </section>
{% endfor %}
{% endblock %}