<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}


<form action="" method="post" name = "ChooseDate">
    {{chooseDate.hidden_tag()}}
    <div class="form-group">
        <label>Дата:</label>
        {{chooseDate.date(class='form-control')}}
    </div>

    <div class="form-group">
        <input type="submit" value="Выбрать" class="btn btn-default">
    </div>
</form>

<div class="hideShowBlock">
    <h3> За день:
        <b>{{day.strftime("%d. %B %Y")}}</b>
        <span class="caret"></span>
    </h3>
</div>


<section class="rankDay">
    <div>
        {% for post in postsDay %}
        <div>
            {% if post.day %}
                ********************************
            {% endif %}
            <div class="postText">
                {{ post.text }}
            </div>
            {% if post.imagePath %}
                <img src="{{ url_for('static', filename='notesImages/'+post.imagePath) }}", width='250') />
            {% endif %}
            <div class="postTimeStamp">
                ( {{post.timestamp.strftime("%A, %d. %B %Y %I:%M%p")}} )
            </div>
            <button class="chooseButtonDay btn btn-default">Выбрать</button>
        </div>
        {% endfor %}
    </div>
</section>

<div class="hideShowBlock">
    <h3> За неделю:
        <b>{{startWeek.strftime("%d. %B %Y")}} --- {{endWeek.strftime("%d. %B %Y")}}</b>
        <span class="caret"></span>
    </h3>
</div>

<section class="rankWeek">
    <div>
        {% for post in postsWeek %}
        <div>

            {% if post.week %}
                ********************************
            {% endif %}
            <div class="postText">
                {{ post.text }}
            </div>
            {% if post.imagePath %}
                <img src="{{ url_for('static', filename='notesImages/'+post.imagePath) }}", width='250') />
            {% endif %}
            <div class="postTimeStamp">
                ( {{post.timestamp.strftime("%A, %d. %B %Y %I:%M%p")}} )
            </div>
            <button class="chooseButtonWeek btn-default">Выбрать</button>

        </div>
        {% endfor %}
    </div>
</section>

<div class="hideShowBlock">
    <h3> За месяц:
        <b>{{startMonth.strftime("%d. %B %Y")}} --- {{endMonth.strftime("%d. %B %Y")}}</b>
        <span class="caret"></span>
    </h3>
</div>

<section class="rankMonth">
    <div>
        {% for post in postsMonth %}
        <div>

            {% if post.month %}
                ********************************
            {% endif %}
            <div class="postText">
                {{ post.text }}
            </div>
            {% if post.imagePath %}
                <img src="{{ url_for('static', filename='notesImages/'+post.imagePath) }}", width='250') />
            {% endif %}
            <div class="postTimeStamp">
                ( {{post.timestamp.strftime("%A, %d. %B %Y %I:%M%p")}} )
            </div>
            <button class="chooseButtonMonth btn-default">Выбрать</button>

        </div>
        {% endfor %}
</div>
</section>


<div class="hideShowBlock">
    <h3> За год:
        <b>{{startYear.strftime("%d. %B %Y")}} --- {{endYear.strftime("%d. %B %Y")}}</b>
        <span class="caret"></span>
    </h3>
</div>

<section class="rankYear">
   <div>
        {% for post in postsYear %}
        <div>
            {% if post.year %}
                ********************************
            {% endif %}
            <div class="postText">
                {{ post.text }}
            </div>
            {% if post.imagePath %}
                <img src="{{ url_for('static', filename='notesImages/'+post.imagePath) }}", width='250') />
            {% endif %}
            <div class="postTimeStamp">
                ( {{post.timestamp.strftime("%A, %d. %B %Y %I:%M%p")}} )
            </div>
            <button class="chooseButtonYear btn btn-default">Выбрать</button>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}